@import "~root-front/dist/styles/mixins";

.canvas-legend {
  position: fixed;
  left: 368px;
  bottom: 24px;
  background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 14px;
  cursor: default;
}

.canvas-legend__item {
  display: flex;
  align-items: center;
  margin-right: 16px;
}

.canvas-legend__item:last-of-type {
  margin-right: 0;
}

.canvas-legend__item-circle {
  width: 12px;
  height: 12px;
  min-width: 12px;
  border-radius: 100%;
  margin-right: 8px;
}

.canvas-legend__item-text {
  @include p2;
  color: var(--base-500);
}
